kubernetes_version: "{{ kubernetes_version }}"
ignore_docker_version: yes
ssh_key_path: ~/.ssh/{{ssh_key_filename}}
nodes:
{% set ns = namespace(c = 1) %}
{% for host in groups['all'] %}
{% if vagrant_virtualbox %}
- address: "{{ hostvars[host]['ansible_facts']['eth1']['ipv4']['address'] }}"
{% else %}
- address: "{{ hostvars[host]['ansible_host'] }}"
{% endif %}
  port: "22"
  user: root
{% if vagrant_virtualbox %}
  internal_address: {{ hostvars[host]['ansible_facts']['eth1']['ipv4']['address'] }}
{% else %}
  internal_address: "{{ hostvars[host]['ansible_host'] }}"
{% endif %}
{% if ns.c <= 3 %}
  role: [ "controlplane" , "worker", "etcd" ]
{% else %}
  role: [ "worker" ]
{% endif %}
{% set ns.c = ns.c + 1 %}
{% endfor %}
{% if vagrant_virtualbox %}
network:
  plugin: canal
  options:
    canal_iface: eth1
    flannel_iface: eth1
  mtu: 0
  canal_network_provider:
    iface: eth1
  flannel_network_provider:
    iface: eth1
{% endif %}